
@-webkit-keyframes STAR-MOVE {
        from {
                background-position: 5% 5%
        }
        to {
                background-position: 1300% 5%
        }
}

input {
    
    font-family: 'VT323', arial, serif; 
    font-size: 200%;
}

#background {
        background: black url(../images/background.png) repeat 5% 5%;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 100;

        -webkit-animation-name: STAR-MOVE;
        -webkit-animation-duration: 400s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
}

#midground {
        background: url(../images/midground.png) repeat 20% 20%;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 200;

        -webkit-animation-name: STAR-MOVE;
        -webkit-animation-duration: 300s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
}

#foreground {
        background: url(../images/foreground.png) repeat 35% 35%;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 300;

        -webkit-animation-name: STAR-MOVE;
        -webkit-animation-duration: 200s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
}
#big-image {
    z-index: 400;
    

    /*set the div in the bottom right corner*/
    position:absolute;
    bottom:82px;
    left:50px;
    background-image: url('../images/scassets.png');
    background-position:0px -164px;
    width: 326px;
    height: 385px;
    
}
#signup {
    z-index: 400;
    
    position: absolute;
    bottom: 40px;
    left: 50px;
    
}
#signup-link {
    z-index: 400;
    text-decoration:none;
    display:block;
    
    background-image: url('../images/scassets.png');
    background-position: 0px 0px;
    width: 130px;
    height: 20px;
    
}
#signup-link:hover,#signup-link:active  { background-position: -130px 0px; }

#declare {
  position: absolute;
  top: -1200px;
  right:200px;
  z-index: 400;

}

#declare input, #fieldleague-image, #leaguedrop-image, #declare select{
  margin-bottom: 15px;
}


#panel-image {
    /*set the div in the bottom right corner*/
    /*
    position:absolute;
    top:-1000px;
    right:200px;
    */
    background-image: url('../images/scassets.png');
    background-position:-460px -250px;
    background-repeat: none;
    /*
    width: 559px;
    height: 902px;
    */
    width: 509px;
    height: 500px;
    padding-top: 140px;
    padding-left: 50px;
    
}

#declare-image {
/*
    z-index: 500;
    position:absolute;
    top:-625px;
    right:250px;
*/
    background-image: url('../images/scassets.png');
    background-position:0px -547px;
    width: 465px;
    height: 65px;
    margin-bottom: 20px;
    
}

#fieldname-image {
/*
    z-index: 500;
    
    position: absolute;
    top:-540px;
    right:250px;
  */
    background-image: url('../images/scassets.png');
    background-position:0px -124px;
    width: 450px;
    height: 38px;
    
    outline: none;
    border:none;
    
    text-indent:3px;
    
}

#fieldemail-image {
/*
    z-index: 500;
    
    position: absolute;
    top:-480px;
    right:250px;
    */
    background-image: url('../images/scassets.png');
    background-position:0px -124px;
    width: 450px;
    height: 38px;
    
    outline:none;
    border:none;
    text-indent:3px;
    
    
}

#fieldteam-image {
/*
    z-index: 500;
    
    position: absolute;
    top:-420px;
    right:250px;
    */
    background-image: url('../images/scassets.png');
    background-position:0px -124px;
    width: 450px;
    height: 38px;
    outline: none;
    border:none;
    
    text-indent:3px;
    
}

#fieldleague-image {
/*
    z-index: 500;
    
    position: absolute;
    top:-360px;
    right:250px;
    */
    background-image: url('../images/scassets.png');
    background-position:0px -124px;
    width: 450px;
    height: 38px;
    text-indent:3px;
    
    
}

#fieldmatchup-image {
    z-index: 500;
    
    position: absolute;
    top:-300px;
    right:250px;
    background-image: url('../images/scassets.png');
    background-position:0px -124px;
    width: 450px;
    height: 38px;
    text-indent:3px;
    
    
}

#fieldbnet-image {
/*
    z-index: 500;
    
    position: absolute;
    top:-240px;
    right:250px;
*/
    text-indent:3px;

    background-image: url('../images/scassets.png');
    background-position:0px -124px;
    width: 450px;
    height: 38px;
    outline: none;
    border:none;
    
}

#submit-image {
/*
    z-index: 500;
    
    position: absolute;
    top:-180px;
    right:250px;
    */
    background-image: url('../images/scassets.png');
    background-position:0px -70px;
    width: 183px;
    height: 54px;
    float: right;
    margin-right: 50px;
    
    
}

#submit-image:hover,#submit-image:active  { background-position: -183px -70px; }

#x-image {
/*
    z-index: 500;
    
    position: absolute;
    top:-180px;
    right:437px;
*/
    background-image: url('../images/scassets.png');
    background-position:0px -18px;
    width: 52px;
    height: 54px;
    float: right;
    margin-right: 10px;
    
    
}

#x-image:hover,#x-image:active  { background-position: -52px -18px; }

#leaguedrop-image {
    z-index: 500;
    
    position: absolute;
    top:-360px;
    right:250px;
    background-image: url('../images/scassets.png');
    background-position:-103px -18px;
    width: 41px;
    height: 54px;
    
    
}

#leaguedrop-image:hover,#leaguedrop-image:active  { background-position: -145px -18px; }


#matchupdrop-image {
    z-index: 500;
    
    position: absolute;
    top:-300px;
    right:250px;
    background-image: url('../images/scassets.png');
    background-position:-103px -18px;
    width: 41px;
    height: 54px;
    
    
}

#matchupdrop-image:hover,#matchupdrop-image:active  { background-position: -145px -18px; }



#small-image {
    position:absolute;
    bottom:0;
    left:0;
    z-index:1;
}

#page-wrap {
	width: 720px;
	margin: 0 auto;
	position: relative;
	z-index: 300;
	background: rgba(0,0,0,0.7);
	overflow: hidden;
	padding: 30px 50px;
}
/*#styled */
select {

    background-image: url('../images/dropinactive.png');
    width: 450px;
    height: 38px;
    -webkit-appearance:none;
    -moz-appearance:none;

/*background-image: url('../images/scassets.png');
background-position:0px -124px;
width: 450px;
height: 38px;
*/
font-family: 'VT323', arial, serif; 
font-size: 200%;

}

#styled, #matchup {
-webkit-appearance:none;
-moz-appearance:none;

border:none;
outline:none;
background-color:transparent;
-moz-border-radius:0px;
-webkit-border-radius:0px;
color:#888;
text-indent:3px;
background-image: url('../images/dropinactive.png');
/*background-position: center right;
background-repeat: no-repeat;
*/}
#styled:hover,#styled:active  { background-image: url('../images/dropactive.png');}
#matchup:hover,#matchup:active  { background-image: url('../images/dropactive.png');}


#customStyleSelectBox { background-image: url('../images/scassets.png');
background-position:0px -124px;
width: 450px;
height: 38px;
font-family: 'VT323', arial, serif; 
font-size: 200%;
/* position: absolute; top: 250; right: 250;z-index: 500; */

}
#customStyleSelectBox.changed { background-image: url('../images/scassets.png');
background-position:0px -124px;
width: 450px;
height: 38px;
font-family: 'VT323', arial, serif;
 
}
#customStyleSelectBoxInner { background-image: url('../images/scassets.png') no-repeat center right;
background-position:-103px -18px;
width: 41px;
height: 54px;
z-index: 700;
}
